python-dotenv>=1.0.0
langchain-core==1.2.7
langchain-text-splitters==1.1.0
langchain-google-genai
langchain-pinecone
langchain-community
pypdf
pydantic==2.12.5
requests==2.32.5
tenacity==9.1.2
fastapi
uvicorn
python-multipart
